<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css')}}">
    </head>
    <body>
    <div class="pane">
        <h1>{{restaurant.name}}</h1>
        
        <div>
            <a href="{{url_for('newMenuItem', restaurant_id=restaurant.id)}}">Create New Menu Item</a>
            </br></br>
        </div>

        <div class="flash">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{message}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
        </div>

        <div>
            {% for c in courseType %}
                <h3>{{c}}</h3>
                {% for i in items %}
                    {% if c==i.course %}
                        <span class="name">{{i.name}}</span></br>
                        <span class="description">{{i.description}}</span></br>
                        <span class="price">{{i.price}}</span></br>
                        <a href="{{url_for('editMenuItem', restaurant_id=restaurant.id, menu_id=i.id)}}">Edit</a>
                        <a href="{{url_for('deleteMenuItem', restaurant_id=restaurant.id, menu_id=i.id)}}">Delete</a>
                        </br></br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    </body>
</html>
