<html>
    <body>
        <h1>New Menu Item</h1>
        
        <form action="#" method="GET">
        <div>
            Name:
        </div>
        <input type="text" name='name'>

        <div>
            Description:
        </div>
        <input type="text" name='description'>

        <div>
            Price:
        </div>
        <input type="text" name='price'>

        <div>
            Course:
        </div>
        <div>
            <input type="radio">Appetizer</input></br>
            <input type="radio">Entree</input></br>
            <input type="radio">Dessert</input></br>
            <input type="radio">Beverage</input>
        </div>
        
        <input type="submit" value="Create">
        <a href="#">Cancel</a>
        </form>
    </body>
</html>
